/* You can add global styles to this file, and also import other style files */
.carousel-indicators{

}

.brand{
  width:2em;
  height:2em;
}


#myCarousel{

  margin-top:100px;

  width: 600px;
}


.carousel-control{
  color: black;
}

.carousel-inner{
  height: 500px;
}



.card-img{
  margin-top: 10px;
  margin-left: 10px;
  margin-right:20px;
}

/* .nav>li>a{
  color:white;
} */

.row{
  margin: 20px;
}


#bannerimage {
  background-image: url("../public/images/IamWirelessLogo4.jpg");
  height: 400px;
}

#bannerlft{
  background-image: url("../public/images/BUYSELLFIXmallgraphic.jpg");
  float: left;
  width:150px;
  height:1270px;
  margin-right:40px;
}

#bannerrgt{
  background-image: url("../public/images/BUYSELLFIXmallgraphic.jpg");
  width:150px;
    height:1270px;
    float:right;
    margin-left:40px;
}


.iam{
  background-image: url("../public/images/BUYSELLFIXmallgraphic.jpg") ;
  min-width: 500px;
  min-height: 800px;
  background-attachment: fixed;
    background-position:center;


}
