

<div class="background">



  <div id="body">

    <h1 class="header">No Credit Financing</h1>
    <h3 class="header">To qualify you must meet the following criteria</h3>

      <h4 class="card-text requirements" id="text1">You must be at least 18 years of age</h4>

      <br>

      <h4 class="card-text requirements" id="text2">You may not have a negative balance in your bank account in the last 30 days</h4>

      <br>

      <h4 class="card-text requirements" id="text3">You must have a traditional checking account open for at least 90 days prior to applying</h4>

      <br>

      <h4 class="card-text requirements" id="text4">You must provide proof of a valid source of income</h4>

      <br>

      <h4 class="card-text requirements" id="text5">Your account cannot be a Pre-Paid account</h4>

      <br>
      <br>
      <div class="card card-green"  id="card1">
        <div class="center-vertical">
          <h2 class="card-title Financing-Option">90 Day Buyout Option:</h2>
          <p class="card-text Financing-Option" id="text6">You pay the cost of the
            merchandise +20%
            (example: $150 X 20% = $30, that’s it!)</p>
        </div>
      </div>
      <br>

      <div class="card card-green" id="card2">
        <div class="center-vertical">
          <h2 class="card-title Financing-Option">Early Buyout:</h2>
          <p class="card-text Financing-Option" id="text7">After 90 days, customer can pay
            off their account early. You are only charged 65%
            of what you owe!</p>
        </div>
      </div>

      <br>

      <div class="card card-green" id="card3 ">
        <div class="center-vertical">

          <h2 class="card-title Financing-Option">12 Month Term:</h2>
          <p class="card-text Financing-Option" id="text8">You will pay regular
            payments and will own the merchandise at the
            end of lease.</p>
        </div>
      </div>
  </div>
</div>



